@import './font/Poppins/stylesheet.css';
:root{
    --main-bg-color:#03045e;
    --setup-text-color:black;
    --setup-diff-bar-empty:grey;
    --setup-diff-bar-full:pink;
    --setup-bg-color:rgb(84, 161, 190);
    --font-menu:"Poppins";
    --inactive-checkbox:rgb(54, 129, 76);
    --checkbox-hover-border:lime;
    --chekbox-hover-text:lime;
    --active-checkbox:rgb(190, 231, 68);
}



body{
    background-color: var(--main-bg-color);
    margin:0px;
}
#container{
    margin:auto;
    position:relative;
    left:33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: purple; /* TODO REMOVE*/
}
#setup,#change-add-opt-setup{
    margin:30px;
    width: 90%;
    min-height: 150%;
    text-align: center;
    color: var(--setup-text-color);
    background-color: var(--setup-bg-color); /*TODO REMOVE */
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    font-family: var(--font-menu);
    padding:20px;
}
#change-add-opt-setup{
    box-sizing:border-box;
    margin:0px;
    width:100%;
    font-size:medium;
}
.checkbox-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.c-box{
    margin:2.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 10px;
    background-color: var(--inactive-checkbox);
    border: solid 3px var(--setup-bg-color);
}
.c-box:hover{
    cursor: pointer;
    border:solid 3px var(--checkbox-hover-border) ;
    color: var(--chekbox-hover-text);
}
.cb-active{
    background-color: var(--active-checkbox) !important;
}
.inline{
    display:none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.diff-bar-ext, .diff-bar-int,.diff-bar-int-2{
    position: relative;
    height: 20px;
    width: 55%;
    border-radius: 10px;
    background: var(--setup-diff-bar-empty);
    margin:2.5px;
}
.diff-bar-int{
    position:absolute;
    background: var(--setup-diff-bar-full);
    margin:0px;
}
.diff-bar-int-2{
    position: absolute;
    margin:0px;
    background:fuchsia;
}
.diff-label{
    text-align: center;
    width:25%;
    background-color: pink; /* TODO REMOVE*/
}

.title{
    font-weight:bold;
    font-size: larger;
}
.pm-button,.button{
    background-color: azure;
    font-size: larger;
    border-radius:100%;
    width:20px;
    height:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 2.5px;
}
.button{
    border-radius:15px;
    height:30px;
    width:150px;
}
.pm-button:hover,.button:hover{
    cursor:pointer;
}
#problems{
    width:50px;
    border-radius: 8px;
    background-color: aqua;
    margin:5px;
}