@import './font/Poppins/stylesheet.css';
:root{
    
    --col-0: #d6eaff;
    --col-1:rgb(0, 225, 255);
    --col-2:rgb(0,184,255);
    --col-3:rgb(0,155,214);
    --col-4:rgb(0, 113, 156);
    --col-5:rgb(0,65,90);

    --main-background-color:var(--col-5);
    --options-background-color:var(--col-4);
    --options-text-color:var(--col-0);
    --cb-background-color:var(--col-2);
    --cb-hover-highlights:var(--col-1);
    --setup-diff-bar-full:var(--col-2);
    --setup-diff-bar-half:var(--col-3);
    --setup-diff-bar-empty:var(--col-5);
    --setup-diff-bar-overall:var(--col-1);
    --button-bg:var(--col-2);
    --button-text:var(--col-4);
    --button-highlights:var(--col-1);
}



body{
    background-color: var(--main-background-color);
    margin:0px;
}
#container{
    margin:auto;
    position:relative;
    left:33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#setup,#change-add-opt-setup{
    margin:30px;
    width: 90%;
    min-height: 150%;
    text-align: center;
    color: var(--options-text-color);
    background-color: var(--options-background-color);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    font-family: "Poppins";
    padding:20px;
}
#change-add-opt-setup{
    box-sizing:border-box;
    margin:0px;
    width:100%;
    font-size:medium;
}
.checkbox-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.c-box{
    margin:2.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 10px;
    color:var(--cb-background-color);
    border: solid 3px var(--cb-background-color);
}
.c-box:hover{
    cursor: pointer;
    border:solid 3px var(--cb-hover-highlights) ;
    color: var(--cb-hover-highlights) !important;
}
.cb-active{
    background-color: var(--cb-background-color) !important;
    border: solid 3px var(--cb-background-color);
    color: var(--options-background-color) !important;
}
.inline{
    display:none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.diff-bar-ext, .diff-bar-int,.diff-bar-int-2{
    position: relative;
    height: 20px;
    width: 55%;
    border-radius: 10px;
    margin:7.5px 2.5px;
}
.diff-bar-ext{
    background: var(--setup-diff-bar-empty);
}
.diff-bar-int{
    position:absolute;
    background: var(--setup-diff-bar-half);
    margin:0px;
}
.diff-bar-int-2{
    position: absolute;
    margin:0px;
    background:var(--setup-diff-bar-full);
}
.diff-spec{
    background-color:var(--setup-diff-bar-overall);
}
.diff-label{
    text-align: right;
    line-height: 100%;
    width:25%;
    padding-right: 10px;
}

.title{
    font-weight:bold;
    font-size: larger;
}
.pm-button,.button{
    background-color: var(--button-bg);
    color:var(--button-text);
    font-size: larger;
    border-radius:100%;
    width:20px;
    height:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 2.5px;
    border: 2px var(--button-bg) solid; 
}
.pm-button:hover,.button:hover{
    border: 2px var(--button-highlights) solid;
    color: var(--options-background-color);
    background: var(--button-highlights);
}
.button{
    border-radius:15px;
    height:30px;
    width:150px;
}
.pm-button:hover,.button:hover{
    cursor:pointer;
}
#problems{
    width:50px;
    border-radius: 8px;
    border: 2px var(--cb-background-color) solid;
    color:var(--cb-background-color);
    margin:5px;
}
a{
    color: var(--cb-background-color) !important;
}
a:hover{
    color: var(--cb-hover-highlights) !important;
}
#overall-b>.diff-label{
    color:var(--cb-hover-highlights);
}
#overall-b>.pm-button{
    border: 2px var(--button-highlights) solid;
}