@import './font/Poppins/stylesheet.css';
:root{
    --main-bg-color:#03045e;
    --setup-text-color:var(--main-bg-color);
    --setup-bg-color:rgb(84, 161, 190);

    
    --chekbox-main-col:rgb(119, 213, 247);
    --checkbox-hover:lime;

    --setup-diff-bar-empty:var(--chekbox-main-col);
    --setup-diff-bar-full:fuchsia;
    --setup-diff-bar-half:pink;
    --setup-diff-bar-overall:lime;
}



body{
    background-color: var(--main-bg-color);
    margin:0px;
}
#container{
    margin:auto;
    position:relative;
    left:33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#setup,#change-add-opt-setup{
    margin:30px;
    width: 90%;
    min-height: 150%;
    text-align: center;
    color: var(--setup-text-color);
    background-color: var(--setup-bg-color);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    font-family: "Poppins";
    padding:20px;
}
#change-add-opt-setup{
    box-sizing:border-box;
    margin:0px;
    width:100%;
    font-size:medium;
}
.checkbox-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.c-box{
    margin:2.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 10px;
    color:var(--chekbox-main-col);
    border: solid 3px var(--chekbox-main-col);
}
.c-box:hover{
    cursor: pointer;
    border:solid 3px var(--checkbox-hover) ;
    color: var(--checkbox-hover) !important;
}
.cb-active{
    background-color: var(--chekbox-main-col) !important;
    border: solid 3px var(--chekbox-main-col);
    color: var(--setup-bg-color) !important;
}
.inline{
    display:none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.diff-bar-ext, .diff-bar-int,.diff-bar-int-2{
    position: relative;
    height: 20px;
    width: 55%;
    border-radius: 10px;
    margin:7.5px 2.5px;
}
.diff-bar-ext{
    background: var(--setup-diff-bar-empty);
}
.diff-bar-int{
    position:absolute;
    background: var(--setup-diff-bar-half);
    margin:0px;
}
.diff-bar-int-2{
    position: absolute;
    margin:0px;
    background:var(--setup-diff-bar-full);
}
.diff-spec{
    background-color:var(--setup-diff-bar-overall);
}
.diff-label{
    text-align: right;
    line-height: 100%;
    width:25%;
    padding-right: 10px;
}

.title{
    font-weight:bold;
    font-size: larger;
}
.pm-button,.button{
    background-color: azure;
    font-size: larger;
    border-radius:100%;
    width:20px;
    height:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 2.5px;
}
.button{
    border-radius:15px;
    height:30px;
    width:150px;
}
.pm-button:hover,.button:hover{
    cursor:pointer;
}
#problems{
    width:50px;
    border-radius: 8px;
    background-color: aqua;
    margin:5px;
}