@import './font/Computer\ Modern/cmun-serif.css';
:root{
    --text-button-bg:var(--col-2);
    --text-button-text:var(--col-5);
    --text-button-highlights:var(--col-1);
    --icons-fill:var(--col-2);
    --icons-fill-hover:var(--col-1);
}
#text-cont{
    font-family:'Computer Modern Serif';
    width:100%;
    font-size: large;
    padding:30px 0px;
    display:none;
    background-color: white;
}
.p-num{
    display:none;
}
.problem{
    padding:5px 20px;
    position:relative;
}
.prob-opt{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    background: rgba(0, 113, 156,0.85);
}
.prob-opt:hover{
    opacity: 100%;
    transition: ease-in 100ms;
}
.text-button{
    background-color: var(--text-button-bg);
    color:var(--text-button-text);
    height:30px;
    width:160px;
    border-radius:15px;
    margin-left:10px;
    font-size:small;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    overflow: hidden;
}
.text-button:hover{
    cursor: pointer;
    background-color: var(--text-button-highlights);
}
.prob-head{
    display:flex;
    justify-content: space-between;
}
.prob-title{
    font-weight: bold;
    font-size:larger;
}
.add-cont{
    width:100%;
    height:4px;
    position: relative;
}
.add-opt{
    position: absolute;
    z-index: 5;
    height: 20px;
    opacity: 0%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-8px;
}
.add-opt:hover{
    opacity: 100%;
    background: linear-gradient(0deg,transparent 40%,rgb(0, 113, 156) 40%,rgb(0, 113, 156) 60%,transparent 60%, transparent);
}
img{
    display: block;
    margin:auto;
    max-width:100%;
}

.sogg{
    margin-left:-10px;
    font-weight:bold;
    font-style: italic;
}
.tre_punti{
    margin-left:-15px;
    font-weight:bold;
}
.note{
    font-size:15px;
}
.prob-text{
    white-space: pre-line;
    padding-left: 20px;
    padding-right: 20px;
}

#download,#home{
    position: fixed;
    width: 130px;
    height:130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
    color:var(--icons-fill);
}
#download:hover,#home:hover{
    cursor:pointer;
    color:var(--icons-fill-hover);
}
.icon{
    width:100px;
    height: 100px;
    fill: var(--icons-fill);
}
#download:hover>.icon,#home:hover>.icon{
    fill:var(--icons-fill-hover);
}

@media print {
    body>div{
        display: none;
    }
    #text-cont{
        display: block !important;
    }
    #container{
        left:0%;
    }
    .add-opt:hover{
        opacity:0% !important;
    }
    .prob-opt:hover{
        opacity:0% !important;
    }
}
#titolone{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:20px;
}
#titolone>div:first-child{
    font-size: 36px;
    font-weight: bold;
}
#soluzioni{
    page-break-before: always;
}
#soluzioni>p,#crediti>p{
    font-size: 26px;
    font-weight: bold;
}